* {
  margin: 0;
  padding: 0;
}

ul,li {
  list-style: none;
}

html,body {
  height: 100%
}

#todolist-container>.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background: #346fef;
  color: white;
}

#todolist-container>.header>.logo {
  margin-left: 25px;
}

#todolist-container>.header>.logout {
  font-size: 20px;
  margin-right: 25px;
  cursor: pointer;
}

#todolist-container>.main {
  display: flex;
  height: calc(100vh - 50px)
}

#todolist-container>.main>.aside {
  font-size: 20px;
  height: 100%;
  width: 250px;
  background: rgb(244,244,244);
}

#todolist-container>.main>.aside>div {
  cursor: pointer;
  margin: 5px;
  padding: 5px;
}

#todolist-container>.main>.aside>.user {
  cursor: default;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

#todolist-container>.main>.todo {
  height: 100%;
  flex:1;
  padding:10px;
}
